* {
  margin: 0;
  padding: 0;
}
body {
  background: rgb(11, 1, 54);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h1 {
  color: white;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 20px;
}
// loader //
svg {
  height: 220px;
  width: 220px;

  transform: rotate(120deg);
}
svg .load {
  position: absolute;
  stroke-width: 10;
  stroke: url(#gradient);
  fill: none;
  stroke-linecap: round;
  stroke-dasharray: 630;
  stroke-dashoffset: 630;
  animation: chargement 10s linear forwards;
}
@keyframes chargement {
  100% {
    stroke-dashoffset: 100;
  }
}
svg .rest {
  position: absolute;
  stroke-width: 10;
  stroke: url(#gradient2);
  fill: none;
  stroke-linecap: round;
  stroke-dasharray: 630;
  stroke-dashoffset: 630;
  animation: rest 12s linear forwards;
}
@keyframes rest {
  100% {
    stroke-dashoffset: 0;
  }
}

// pourcentage
.num {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2em;
  font-weight: 500;
}

// timer
input {
  height: 3rem;
  width: 3rem;
}
button {
  height: 2rem;

  cursor: pointer;
}
#countdown {
  font-size: 5rem;
  color: white;
}

// toggle start/stop
p {
  color: white;
}
